<app-private-header [item]="'event'"></app-private-header>

<div role="main" class="main">
    <app-page-header [item]="'Eventos'"></app-page-header>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <div class="featured-box featured-box-primary text-left mt-5">
                <div class="box-content">
                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3"
                        style="text-align: center;">Crear Nuevo Evento</h4>
                    <form class="needs-validation">
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="font-weight-bold text-dark text-2">Número</label>
                                <input type="text" value="" id="number" name="number" class="form-control"
                                    [(ngModel)]="event.number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label class="font-weight-bold text-dark text-2"
                                    style="margin-right: 5px;">Estado</label>
                                <input type="checkbox" id="active" name="active" [(ngModel)]="event.active">
                                <span *ngIf="event.active == '0'"> Inactivo </span>
                                <span *ngIf="event.active == '1'"> Activo</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="font-weight-bold text-dark text-2">Precio</label>
                                <input type="text" value="" id="price" name="price" class="form-control"
                                    [(ngModel)]="event.price">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <button id="eventId" type="button" class="btn btn-primary btn-modern float-right"
                                    (click)="onSaveForm()">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="featured-box featured-box-primary text-left mt-5">
                <div class="box-content">
                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3"
                        style="text-align: center;">Lista de Eventos</h4>
                    <table id="tenrollments" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Edición</th>
                                <th>Activo</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of events">
                                <td>{{event.number}}</td>
                                <td>
                                    <span *ngIf="event.active == '0'"> Inactivo </span>
                                    <span *ngIf="event.active == '1'"> Activo</span>
                                </td>
                                <td>{{event.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>