<app-private-header [item]="'event'"></app-private-header>

<div role="main" class="main">
    <app-page-header [item]="'Eventos'"></app-page-header>
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <div class="featured-box featured-box-primary text-left mt-5">
                <div class="box-content">
                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3"
                        style="text-align: center;">{{newOrModify}} Evento</h4>
                    <form class="needs-validation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2">Tipo</label>
                                        <select id="type" name="type" class="form-control" size="0"
                                            style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="event.type">
                                            <option value="">Seleccionar</option>
                                            <option value="Presencial">Presencial</option>
                                            <option value="Online">Online</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2">Título</label>
                                        <input type="text" value="" id="title" name="title" class="form-control"
                                            [(ngModel)]="event.title">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2">Número</label>
                                        <input type="text" value="" id="number" name="number" class="form-control"
                                            [(ngModel)]="event.num">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2">Precio</label>
                                        <input type="text" value="" id="price" name="price" class="form-control"
                                            [(ngModel)]="event.price">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2">Fecha del evento</label>
                                        <input type="date" name="date" max="3000-12-31" min="1000-01-01"
                                            class="form-control" [(ngModel)]="event.date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="font-weight-bold text-dark text-2"
                                            style="margin-right: 5px;">Estado</label>
                                        <select id="state" name="state" class="form-control" size="0"
                                            style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="event.state">
                                            <option value="">Seleccionar</option>
                                            <option value="Inactivo">Inactivo</option>
                                            <option value="Activo">Activo</option>
                                            <option value="Resultado">Resultado</option>
                                            <option value="Cerrado">Cerrado</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 offset-4">
                                <button id="eventId" type="button" class="btn btn-primary btn-modern float-right"
                                    (click)="onSaveForm()">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="featured-box featured-box-primary text-left mt-5">
                <div class="box-content">
                    <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3"
                        style="text-align: center;">Lista de Eventos</h4>
                    <table id="tenrollments" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Título</th>
                                <th>Edición</th>
                                <th>Estado</th>
                                <th>Precio</th>
                                <th>Fecha Evento</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let event of events">
                                <td>{{event.type}}</td>
                                <td>{{event.title}}</td>
                                <td>{{event.num}}</td>
                                <td>{{event.state}}</td>
                                <td>{{event.price}}</td>
                                <td>{{event.date | date:'mediumDate'}}</td>
                                <td><i class="icon-note" (click)="onEditClick(event)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>