<header id="header" class="header-effect-shrink"
    data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a routerLink="/">
                                <img alt="Trianz logo" width="200" height="48" data-sticky-width="150"
                                    data-sticky-height="40" src="../../../assets/img/tri.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-links order-2 order-lg-1">
                            <div
                                class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown active">
                                            <a id="home" class="dropdown-item dropdown-toggle" routerLink="/">
                                                Inicio
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a id="about" class="dropdown-item dropdown-toggle" routerLink="/about-us">
                                                Nosotros
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a id="portafolio" class="dropdown-item dropdown-toggle"
                                                routerLink="/portafolio">
                                                Portafolio
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a id="inscripcion" class="dropdown-item dropdown-toggle"
                                                routerLink="/inscripcion">
                                                Inscripción
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a id="contact-us" class="dropdown-item dropdown-toggle"
                                                routerLink="/contact-us">
                                                Contáctanos
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>