<app-header [item]="'about'"></app-header>

<div role="main" class="main">

    <app-page-header [item]="'Nosotros'"></app-page-header>

    <section class="section section-default border-0" style="margin: 0 0;">

        <div class="container overflow-hidden">
            <p class="lead mb-0">
                La mejor experiencia de triatlón en <span class="alternative-font">Venezuela.</span>
            </p>
        </div>

        <div class="container py-4">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="owl-carousel owl-theme nav-inside mb-0">
                        <div>
                            <img loading="lazy" src="../../../assets/img/team/team-3.jpg">
                        </div>
                        <div>
                            <img loading="lazy" src="../../../assets/img/team/team-2.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="overflow-hidden mb-2">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0">¿Quiénes <strong
                                class="font-weight-extra-bold">somos</strong>?</h2>
                    </div>
                    <p>Somos una Fundación Club sin fines de lucro creada en el 2010
                        por un grupo de atletas de la zona norte del estado Anzóategui - Venezuela, en su mayoría
                        profesionales de diversas especialidades, con el propósito de hacer transcender el triatlón más
                        allá de una disciplina deportiva, fomentando el bienestar y la vida sana en jóvenes (de 12 a 17
                        años de edad) y adultos. Por esa razón, nos interesamos en apoyar a quienes se inician en este
                        deporte ofreciéndoles la oportunidad de competir en corta distancia (Sprint) o por equipos en
                        nuestras competencias; así como también apoyar a jóvenes que no tienen los recursos económicos
                        para participar en competencias a nivel nacional.</p>
                </div>
            </div>

        </div>
    </section>

    <div class="container my-5">
        <div class="row mt-5 py-3">
            <div class="col-md-6">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0">Nuestra <strong
                        class="font-weight-extra-bold">visión</strong></h2>
                <p>Que la comunidad en general considere la actividad deportiva del triatlón como el camino
                    hacia la calidad de vida de todos.</p>
            </div>
            <div class="col-md-6">
                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0">Nuestra <strong
                        class="font-weight-extra-bold">misión</strong></h2>
                <p>Contribuir a la formación y masificación deportiva y recreativa de los triatletas
                    infantiles, juveniles y adultos a través de la organización de competencias de triatlón,
                    entrenamiento al aire libre y charlas, permitiendo así la sana convivencia.
                    Adicionalmente, gestionar con empresas e instituciones convenios a beneficio de nuestros
                    triatletas para su participación en eventos nacionales e internacionales.</p>
            </div>
        </div>
        <div class="row">
            <div class="col py-4">
                <hr class="solid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-md-auto text-center">

                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Nuestra <strong
                        class="font-weight-extra-bold">Historia</strong></h2>
                <p>Breves momentos dentro de nuestra familia Trianz.</p>

                <section class="timeline" id="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2010</h3>
                        </div>

                        <article class="timeline-box left text-left">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img loading="lazy" src="../../../assets/img/history/evento-1.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Primer evento</h3>
                                <p class="mb-0 text-2">Desde el inicio le hemos puesto corazón, sonrisas y amor a cada
                                    detalle de
                                    nuestros eventos.</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2014</h3>
                        </div>

                        <article class="timeline-box right text-left ">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img loading="lazy" src="../../../assets/img/history/hogar.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Hogar Sonrisas</h3>
                                <p class="mb-0 text-2">Trianz fue patrocinador de un evento para la Fundación Hogar
                                    Sonrisas, llevar sonrisas y regalos a los niños con Cáncer.
                                </p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">2015</h3>
                        </div>

                        <article class="timeline-box left text-left ">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img loading="lazy" src="../../../assets/img/history/history-2.jpg" />
                                <h3 class="font-weight-bold text-3 mt-3 mb-1">Enrique Molero</h3>
                                <p class="mb-0 text-2">Con el 10mo Trianz nos despedimos de Enrique Molero, uno de
                                    nuestros
                                    fundadores. La familia Trianz continuará con su legado y aportando una mejor calidad
                                    de vida a los venezolanos.</p>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <section class="section section-default border-0 my-5">
            <div class="container py-4">

                <div class="row">
                    <div class="col pb-4 text-center">
                        <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">Conoce <strong
                                class="font-weight-extra-bold">Nuestro Equipo</strong></h2>
                        <p>Los Rockstars del Triatlón.</p>
                    </div>
                </div>
                <div class="row pb-4 mb-2">
                    <div class="col-sm-5 col-lg-2 mb-4 mb-lg-0 ">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-3.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Jorge Luis Torrealba</span>
                                    <span class="thumb-info-type">Presidente</span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-2 mb-4 mb-lg-0">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-s.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Silvia Romero</span>
                                    <span class="thumb-info-type">Tesorera</span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-2 mb-4 mb-sm-0 ">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-e.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Eliana Valverde</span>
                                    <span class="thumb-info-type">Coordinador</span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-2 ">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-a.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Álvaro Alayón</span>
                                    <span class="thumb-info-type">Coordinador</span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-2 ">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-m.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Marta Umérez</span>
                                    <span class="thumb-info-type">Coordinador</span>
                                </span>
                            </span>
                        </span>
                    </div>
                    <div class="col-sm-5 col-lg-2 ">
                        <span class="thumb-info thumb-info-hide-wrapper-bg bg-transparent border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/team/team-b.jpg" class="img-fluid border-radius-0"
                                    loading="lazy" style="height: 250px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">Benigno Espinoza</span>
                                    <span class="thumb-info-type">Coordinador</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>