<app-header [item]="'home'"></app-header>

<div role="main" class="main">
    <div class="slider-container rev_slider_wrapper" style="height: 650px;">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider
            data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                <li data-transition="fade" class="slide-overlay slide-overlay-level-6">
                    <img src="../../../assets/img/homepage/home-0.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">

                    <h1 class="tp-caption font-weight-extra-bold text-color-light negative-ls-2"
                        data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-x="center" data-y="center" data-voffset="['-55','-55','-55','-55']"
                        data-fontsize="['50','50','50','90']" data-lineheight="['55','55','55','95']"
                        data-letterspacing="-1">
                        LA MEJOR EXPERIENCIA EN TRIATLÓN</h1>

                    <div class="tp-caption font-weight-light text-center"
                        data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-x="center" data-y="center" data-voffset="['-5','-5','-5','15']"
                        data-fontsize="['18','18','18','50']" data-lineheight="['29','29','29','40']"
                        style="color: #b5b5b5;">
                        TRIANZ <strong>2020</strong></div>

                    <a class="tp-caption btn btn-light-2 btn-outline font-weight-semibold"
                        data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"opacity:0;y:50%;","to":"o:1;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                        data-hash data-hash-offset="85" href="#main" data-x="center" data-hoffset="0" data-y="center"
                        data-voffset="['65','65','65','105']" data-whitespace="nowrap"
                        data-fontsize="['15','15','15','33']" data-paddingtop="['15','15','15','40']"
                        data-paddingright="['45','45','45','110']" data-paddingbottom="['15','15','15','40']"
                        data-paddingleft="['45','45','45','110']">Inscribete
                        ahora!</a>

                </li>
                <li class="slide-overlay slide-overlay-level-6" data-transition="fade">
                    <img src="../../../assets/img/homepage/home-1.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                </li>
                <li class="slide-overlay slide-overlay-level-6" data-transition="fade">
                    <img src="../../../assets/img/homepage/home-2.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                </li>
                <li class="slide-overlay slide-overlay-level-6" data-transition="fade">
                    <img src="../../../assets/img/homepage/home-3.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                </li>
                <li class="slide-overlay slide-overlay-level-6" data-transition="fade">
                    <img src="../../../assets/img/homepage/home-0.jpg" alt="" data-bgposition="center center"
                        data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                </li>
            </ul>
        </div>
    </div>
    <section class="section section-primary section-no-border section-height-4 my-0"
        style="background-color: #F38832 !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">
                    <span class="lead text-color-light opacity-6 text-2 mb-0">Lechería, Venezuela</span>
                    <h2 class="font-weight-bold line-height-1 text-7 negative-ls-1 mb-3">Fundación Trianz </h2>
                    <p class="text-color-light opacity-8 text-4 mb-4">Somos una fundación deportiva sin fines de lucro,
                        creada
                        con la finalidad de organizar y fomentar eventos de triatlón en Venezuela.</p>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-5 ">
                            <div class="feature-box feature-box-style-2">
                                <div class="feature-box-icon">
                                    <i class="icon-user-following icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Triatlón</h4>
                                    <p class="text-color-light opacity-8 mb-0">Deporte que consiste en realizar 3
                                        disciplinas
                                        deportivas, NATACIÓN, CICLISMO Y CARRERA siguiendo este mismo orden y sin
                                        interrupción entre una
                                        prueba y la siguiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-5 ">
                            <div class="feature-box feature-box-style-2">
                                <div class="feature-box-icon">
                                    <i class="icon-layers icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Zona de transición</h4>
                                    <p class="text-color-light opacity-8 mb-0">El tiempo que transcurre en que el
                                        triatleta tarda en
                                        cambiar de la natación al ciclismo se conoce como T1 y la de ciclismo a carrera
                                        como T2.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                            <div class="feature-box feature-box-style-2 ">
                                <div class="feature-box-icon">
                                    <i class="icon-star icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Sprint</h4>
                                    <p class="text-color-light opacity-8 mb-0">Natación: 750m, Ciclismo: 20km, Carrera:
                                        5km.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 ">
                                <div class="feature-box-icon">
                                    <i class="icon-drop icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Olímpico</h4>
                                    <p class="text-color-light opacity-8 mb-0">Natación: 1500m, Ciclismo: 40km, Carrera:
                                        10km.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-height-3 bg-color-grey-scale-1 section-no-border m-0">
        <div class="container my-2">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2 class="font-weight-normal text-6 mb-5">Comentarios de nuestros <strong
                            class="font-weight-extra-bold">Triatletas</strong>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0 ">
                    <div
                        class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark mb-0">
                        <div class="testimonial-author">
                            <img src="../../../assets/img/triatletas/persona1.jpg" class="img-fluid rounded-circle mb-0"
                                alt="">
                        </div>
                        <blockquote>
                            <p class="text-color-dark mb-0">Este triatlón es de los eventos deportivos de su tipo mejor
                                organizados en el país. Sus organizadores y la gente que los acompaña le ponen un cariño
                                muy
                                especial que lo hace a uno como atleta sentirse cómodo y bienvenido. En las actuales
                                circunstancia
                                hay que hacer un especial reconocimiento por tener el valor y la disposición de
                                organizar un evento
                                como éste y hacerlo de forma tan profesional. ¡Muchas gracias y felicitaciones!</p>
                        </blockquote>
                        <div class="testimonial-author">
                            <p><strong class="font-weight-extra-bold text-color-dark text-4">Miguel Leon</strong></p>
                            <p>Triatleta</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div
                        class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark mb-0">
                        <div class="testimonial-author">
                            <img src="../../../assets/img/triatletas/persona2.jpg" class="img-fluid rounded-circle mb-0"
                                alt="">
                        </div>
                        <blockquote>
                            <p class="text-color-dark mb-0">Excelente evento!! Felicitaciones a todos.</p>
                        </blockquote>
                        <div class="testimonial-author">
                            <p><strong class="font-weight-extra-bold text-color-dark text-4">Rafael Martinez</strong>
                            </p>
                            <p>Triatleta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row pt-4 mt-5">
            <div class="col text-center ">
                <h2 class="font-weight-normal text-6"><strong class="font-weight-extra-bold">Patrocinantes</strong></h2>
            </div>
        </div>
        <div class="row pb-4 mb-5">
            <div class="col ">
                <div class="owl-carousel owl-theme mb-0" data-plugin-options="{'items': 4, 'margin': 0, 'loop': false}">
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/gatorade.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/oceania.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div style="width: 200px;margin-top: 37px;margin-left: 36px;">
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/cauchos.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div style="margin-top: 40px;">
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/chevron.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/auto.png" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/project-37.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/project-38.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>