<app-header [item]="'home'"></app-header>

<div role="main" class="main">

    <div>
        <div class="owl-carousel owl-theme nav-inside mb-0">
            <div>
                <img class="img-fluid lazyload" src="../../../assets/img/homepage/home-0.jpg">
            </div>
            <div>
                <img class="img-fluid lazyload" src="../../../assets/img/homepage/home-1.jpg">
            </div>
            <div>
                <img class="img-fluid lazyload" src="../../../assets/img/homepage/home-2.jpg">
            </div>
            <div>
                <img class="img-fluid lazyload" src="../../../assets/img/homepage/home-3.jpg">
            </div>
        </div>
    </div>
    <section class="section section-primary section-no-border section-height-4 my-0"
        style="background-color: #F38832 !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ">
                    <span class="lead text-color-light opacity-6 text-2 mb-0">Lechería, Venezuela</span>
                    <h2 class="font-weight-bold line-height-1 text-7 negative-ls-1 mb-3">Fundación Trianz </h2>
                    <p class="text-color-light opacity-8 text-4 mb-4">Somos una fundación deportiva sin fines de lucro,
                        creada
                        con la finalidad de organizar y fomentar eventos de triatlón en Venezuela.</p>
                </div>
                <div class="col-lg-7 mt-5 mt-lg-0">
                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-5 ">
                            <div class="feature-box feature-box-style-2">
                                <div class="feature-box-icon">
                                    <i class="icon-user-following icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Triatlón</h4>
                                    <p class="text-color-light opacity-8 mb-0">Deporte que consiste en realizar 3
                                        disciplinas
                                        deportivas, NATACIÓN, CICLISMO Y CARRERA siguiendo este mismo orden y sin
                                        interrupción entre una
                                        prueba y la siguiente.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-5 ">
                            <div class="feature-box feature-box-style-2">
                                <div class="feature-box-icon">
                                    <i class="icon-layers icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Zona de transición</h4>
                                    <p class="text-color-light opacity-8 mb-0">El tiempo que transcurre en que el
                                        triatleta tarda en
                                        cambiar de la natación al ciclismo se conoce como T1 y la de ciclismo a carrera
                                        como T2.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                            <div class="feature-box feature-box-style-2 ">
                                <div class="feature-box-icon">
                                    <i class="icon-star icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Sprint</h4>
                                    <p class="text-color-light opacity-8 mb-0">Natación: 750m, Ciclismo: 20km, Carrera:
                                        5km.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="feature-box feature-box-style-2 ">
                                <div class="feature-box-icon">
                                    <i class="icon-drop icons text-color-light"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="font-weight-bold text-color-light mb-2">Olímpico</h4>
                                    <p class="text-color-light opacity-8 mb-0">Natación: 1500m, Ciclismo: 40km, Carrera:
                                        10km.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-height-3 bg-color-grey-scale-1 section-no-border m-0">
        <div class="container my-2">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <h2 class="font-weight-normal text-6 mb-5">Comentarios de nuestros <strong
                            class="font-weight-extra-bold">Triatletas</strong>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0 ">
                    <div
                        class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark mb-0">
                        <div class="testimonial-author">
                            <img src="../../../assets/img/homepage/triatletas/persona1.jpg"
                                class="img-fluid rounded-circle mb-0" alt="">
                        </div>
                        <blockquote>
                            <p class="text-color-dark mb-0">Este triatlón es de los eventos deportivos de su tipo mejor
                                organizados en el país. Sus organizadores y la gente que los acompaña le ponen un cariño
                                muy
                                especial que lo hace a uno como atleta sentirse cómodo y bienvenido. En las actuales
                                circunstancia
                                hay que hacer un especial reconocimiento por tener el valor y la disposición de
                                organizar un evento
                                como éste y hacerlo de forma tan profesional. ¡Muchas gracias y felicitaciones!</p>
                        </blockquote>
                        <div class="testimonial-author">
                            <p><strong class="font-weight-extra-bold text-color-dark text-4">Miguel Leon</strong></p>
                            <p>Triatleta</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div
                        class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote testimonial-quotes-dark mb-0">
                        <div class="testimonial-author">
                            <img src="../../../assets/img/homepage/triatletas/persona2.jpg"
                                class="img-fluid rounded-circle mb-0" alt="">
                        </div>
                        <blockquote>
                            <p class="text-color-dark mb-0">Excelente evento!! Felicitaciones a todos.</p>
                        </blockquote>
                        <div class="testimonial-author">
                            <p><strong class="font-weight-extra-bold text-color-dark text-4">Rafael Martinez</strong>
                            </p>
                            <p>Triatleta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row pt-4 mt-5">
            <div class="col text-center ">
                <h2 class="font-weight-normal text-6"><strong class="font-weight-extra-bold">Patrocinantes</strong></h2>
            </div>
        </div>
        <div class="row pb-4 mb-5">
            <div class="col ">
                <div class="owl-carousel owl-carousel-2 owl-theme mb-0">
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/gatorade.png" class="img-fluid lazyload" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/oceania.png" class="img-fluid lazyload" alt="">
                        </a>
                    </div>
                    <div class="cauchos-img">
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/cauchos.jpg" class="img-fluid lazyload" alt="">
                        </a>
                    </div>
                    <div style="margin-top: 40px;">
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/chevron.png" class="img-fluid lazyload" alt="">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="../../../assets/img/patrocinantes/auto.png" class="img-fluid lazyload" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>