<app-header [item]="'inscripcion'"></app-header>

<div role="main" class="main">
    <section class="page-header page-header-classic page-header-sm" style="margin: 0px;background-color: #51A7AF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 data-title-border>Planilla de Inscripción</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-2">

        <div class="row">
            <div class="col-lg-2 order-2 order-lg-1">

            </div>
            <div class="col-lg-8 order-1 order-lg-1">

                <div class="overflow-hidden mb-1">
                    <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">Trianz</strong>
                        2020</h2>
                </div>
                <div class="overflow-hidden mb-4">
                    <p class="mb-0">Ven y participa en nuestra modalidad de Sprint y Olímpico.</p>
                    <p>Para el día {{currentDate}} el precio actual de inscripción es de Bs xxx.xxx.xxx, este precio
                        esta sujeto a cambios.</p>
                </div>

                <form role="form" class="needs-validation">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Nombre</label>
                            <input type="text" value="" data-msg-required="Ingresa tu nombre." maxlength="20"
                                class="form-control" name="name" id="name" [(ngModel)]="enrollment.name">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Apellido</label>
                            <input type="text" value="" data-msg-required="Ingresa tu apellido." maxlength="20"
                                class="form-control" name="lastname" id="lastname" [(ngModel)]="enrollment.lastname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Cédula de Identidad</label>
                            <input type="text" value="" data-msg-required="Ingresa tu cédula." maxlength="10"
                                class="form-control" name="dni" id="dni" [(ngModel)]="enrollment.dni">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Correo Electrónico</label>
                            <input type="email" value="" data-msg-required="Ingresa tu correo electrónico."
                                maxlength="50" class="form-control" name="email" id="email"
                                [(ngModel)]="enrollment.email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Teléfono</label>
                            <input type="text" value="" data-msg-required="Ingresa tu teléfono." maxlength="20"
                                class="form-control" name="telephone" id="telephone" [(ngModel)]="enrollment.telephone">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="font-weight-bold text-dark text-2 mb-0">Fecha de
                                Nacimiento</label>
                            <mat-form-field style="display: block;">
                                <input matInput [matDatepicker]="picker" [(ngModel)]="enrollment.birthdate"
                                    id="birthdate" name="birthdate" (ngModelChange)="onChangeDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -20px;">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Sexo</label>
                            <select id="sex" name="sex" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.sex"
                                (change)="onChangeSex()">
                                <option value="">Seleccionar</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Tipo de Inscripción</label>
                            <select id="type" name="type" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.type">
                                <option value="">Seleccionar</option>
                                <option value="S">Sprint</option>
                                <option value="O">Olímpico</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Categoría</label>
                            <select id="category" name="category" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.category">
                                <option value="">Seleccionar</option>
                                <option value="elite">Elite {{sex}}</option>
                                <option value="category">Categoría {{category}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Banco</label>
                            <select id="bank" name="bank" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.bank">
                                <option value="">Seleccionar</option>
                                <option value="mercantil">Mercantil</option>
                                <option value="mercantil">Banco Venezuela</option>
                                <option value="mercantil">Mercantil</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Número de Comprobante</label>
                            <input type="text" value="" data-msg-required="Ingresa tu número de comprobante."
                                maxlength="30" class="form-control" name="bankNumber" id="bankNumber"
                                [(ngModel)]="enrollment.bankNumber">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Monto Transferido</label>
                            <input type="text" value="" data-msg-required="Ingresa tu monto transferido." maxlength="50"
                                class="form-control" name="amount" id="amount" [(ngModel)]="enrollment.amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Ciudad de Procedencia</label>
                            <input type="text" value="" data-msg-required="Ingresa tu ciudad de procedencia."
                                maxlength="50" class="form-control" name="cityName" id="cityName"
                                [(ngModel)]="enrollment.cityName">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="font-weight-bold text-dark text-2 mb-0">Club al que pertenece</label>
                            <input type="text" value="" data-msg-required="Ingresa tu club de procedencia."
                                maxlength="30" class="form-control" name="clubName" id="clubName"
                                [(ngModel)]="enrollment.clubName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Talla de Franela</label>
                            <select id="shirtSize" name="shirtSize" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.shirtSize">
                                <option value="">Seleccionar</option>
                                <option value="s">S</option>
                                <option value="m">M</option>
                                <option value="l">L</option>
                                <option value="xl">XL</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="form-group col-lg-12">
                            <input type="radio" id="terms" name="terms" value="terms">
                            <label class="text-2 mb-0" style="margin-left: 10px;">Acepta los <a>Términos y Condiciones
                                </a>del Evento 12vo de
                                Trianz.</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-lg-9">
                        </div>
                        <div class="form-group col-lg-3">
                            <button id="enrollmentId" type="button" class="btn btn-primary btn-modern float-right"
                                (click)="onSaveForm()">
                                Inscribirse
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>