<app-header [item]="'inscripcion'"></app-header>

<div role="main" class="main">
    <section class="page-header page-header-classic page-header-sm" style="margin: 0px;background-color: #51A7AF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 data-title-border>Planilla de Inscripción</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-2">

        <div class="row">
            <div class="col-lg-2 order-2 order-lg-1">

            </div>
            <div class="col-lg-8 order-1 order-lg-1">

                <div class="overflow-hidden mb-1">
                    <h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">Trianz</strong>
                        - {{event.title}} </h2>
                </div>
                <div class="overflow-hidden mb-4">
                    <p class="mb-0">Información General del Evento:
                        <a href={{event.infoFile}} target="_blank" download>Descargar</a>
                    </p>
                    <p *ngIf="event.type != 'Virtual'" class="mb-0">Planilla de Liberación de Responsabilidad:
                        <a href={{event.genFile}} target="_blank" download>Descargar </a>
                    </p>
                    <p>Para el día <b>{{currentDate}}</b>, el precio actual de inscripción es de <b>Bs
                            {{event.price}}</b>.</p>
                </div>

                <form role="form" class="needs-validation">
                    <div class="row" style="margin-top: -20px;">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Nombre</label>
                            <input type="text" maxlength="20" class="form-control" name="name" id="name"
                                [(ngModel)]="enrollment.name">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Apellido</label>
                            <input type="text" maxlength="20" class="form-control" name="lastname" id="lastname"
                                [(ngModel)]="enrollment.lastname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Cédula de Identidad</label>
                            <input type="text" maxlength="10" class="form-control" name="dni" id="dni"
                                [(ngModel)]="enrollment.dni">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Correo Electrónico</label>
                            <input type="email" maxlength="50" class="form-control" name="email" id="email"
                                [(ngModel)]="enrollment.email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Teléfono</label>
                            <input type="text" maxlength="20" class="form-control" name="telephone" id="telephone"
                                [(ngModel)]="enrollment.telephone">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Fecha de
                                Nacimiento </label>
                            <input type="date" name="birthdate" id="birthdate" max="2010-12-31" min="1900-01-01"
                                class="form-control" [(ngModel)]="enrollment.birthdate" (change)="onChangeDate()">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Sexo</label>
                            <select id="sex" name="sex" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.sex"
                                (change)="onChangeSex()">
                                <option value="">Seleccionar</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Tipo de Inscripción</label>
                            <select id="type" name="type" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.type">
                                <option value="">Seleccionar</option>
                                <option value="Sprint">Sprint</option>
                                <option value="Olimpico">Olímpico</option>
                                <option value="Equipo">Por Equipo</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Categoría</label>
                            <select id="category" name="category" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.category">
                                <option value="">Seleccionar</option>
                                <option value="Elite">Elite {{sex}}</option>
                                <option value="Por Edades">Por Edades {{category}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Banco</label>
                            <select id="bank" name="bank" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.bank">
                                <option value="">Seleccionar</option>
                                <option value="Mercantil">Mercantil</option>
                                <option value="Banco de Venezuela">Banco de Venezuela</option>
                                <option value="Banco Occidental de Descuento">Banco Occidental de Descuento</option>
                                <option value="Banesco">Banesco</option>
                                <option value="Banco Universal">Banco Universal</option>
                                <option value="Banco Bicentenario">Banco Bicentenario</option>
                                <option value="Banco del Tesoro">Banco del Tesoro</option>
                                <option value="Banco Plaza">Banco Plaza</option>
                                <option value="Banco Delsur">Banco Delsur</option>
                                <option value="Banco Exterior">Banco Exterior</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Número de Comprobante</label>
                            <input type="text" value="" data-msg-required="Ingresa tu número de comprobante."
                                maxlength="30" class="form-control" name="bankNumber" id="bankNumber"
                                [(ngModel)]="enrollment.bankNumber">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Monto Transferido</label>
                            <input type="text" value="" data-msg-required="Ingresa tu monto transferido." maxlength="50"
                                class="form-control" name="amount" id="amount" [(ngModel)]="enrollment.amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Ciudad de Procedencia</label>
                            <input type="text" value="" data-msg-required="Ingresa tu ciudad de procedencia."
                                maxlength="50" class="form-control" name="cityName" id="cityName"
                                [(ngModel)]="enrollment.cityName">
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="font-weight-bold text-dark text-2 mb-0">Club al que pertenece</label>
                            <input type="text" value="" data-msg-required="Ingresa tu club de procedencia."
                                maxlength="30" class="form-control" name="clubName" id="clubName"
                                [(ngModel)]="enrollment.clubName">
                        </div>
                    </div>
                    <div class="row" *ngIf="event.type != 'Virtual'">
                        <div class="form-group col-lg-6">
                            <label class="required font-weight-bold text-dark text-2 mb-0">Talla de Franela</label>
                            <select id="shirtSize" name="shirtSize" class="form-control" size="0"
                                style="height: calc(1.5em + .75rem + 2px);" [(ngModel)]="enrollment.shirtSize">
                                <option value="">Seleccionar</option>
                                <option value="Sin Franela">Sin Franela</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="row" style="margin-top: 10px;">
                        <div class="form-group col-lg-12">
                            <input type="radio" id="terms" name="terms" value="true" [(ngModel)]="terms">
                            <label class="text-2 mb-0" style="margin-left: 10px;">He leído y acepto los
                                <a href="../../../assets/img/blank.gif" download>Términos y
                                    Condiciones </a>
                                del Evento 12vo de Trianz.</label>
                        </div>
                    </div>-->

                    <div class="form-group row">
                        <div class="form-group col-lg-9">
                        </div>
                        <div class="form-group col-lg-3">
                            <button id="enrollmentId" type="button" class="btn btn-primary btn-modern float-right"
                                (click)="onSaveForm()">
                                Inscribirse
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>