@media (max-width: 991px) {
    .portfolio-list img {
        height: 200px;
    }
}

@media (min-width: 992px) {
    .portfolio-list img {
        height: 100px;
    }
}

.swal01-container.swal01-center {
    align-items: center;
}

.swal01-container.swal01-backdrop-show {
    background: rgba(0,0,0,.4);
}

.swal01-container {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    transition: background-color .1s;
    -webkit-overflow-scrolling: touch;
}

.swal01-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: .3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
}

.swal01-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swal01-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 .4em;
    padding: 0;
    color: #595959;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}

.swal01-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: #545454;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
}

.swal01-actions {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1.25em auto 0;
}
.form-control{
    height: calc(1em + .75rem + 2px);
    padding: 0px 5px;
}

.form-group {
    margin-bottom: 0px;
}

.border-red {
    border-color: #F44336; 
    color: #F44336;
}

.cropped {
    height: 190px;
    overflow: hidden;
}

@media (max-width: 442px) {
    .fix-table {
        display: block;
        overflow: scroll;
    }
}