<app-header [item]="'portafolio'"></app-header>

<div role="main" class="main">

    <section class="page-header page-header-classic page-header-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 data-title-border>Portafolio</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-2">
        <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center" data-sort-id="portfolio"
            data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
            <li id="all" class="nav-item"><a class="nav-link text-1 text-uppercase" (click)="onAll()">Mostrar
                    todos</a></li>
            <li id="11" class="nav-item"><a class="nav-link text-1 text-uppercase" (click)="on11()">Edición 11</a></li>
            <li id="team" class="nav-item"><a class="nav-link text-1 text-uppercase" (click)="onTeam()">Equipo</a></li>
            <!-- <li id="hogar" class="nav-item"><a class="nav-link text-1 text-uppercase">Hogar Sonrisas</a></li> -->
        </ul>
        <div class="mt-4 pt-2">
            <div class="row portfolio-list">
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e1.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e2.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e3.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e4.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e5.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/e6.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p0.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p1.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p3.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p4.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p5.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p6.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item team" [hidden]="team">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/p7.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/v1.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/portafolio/v2.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/homepage/home-0.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/homepage/home-1.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/homepage/home-2.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/homepage/home-3.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2 isotope-item 11" [hidden]="edition">
                    <div class="portfolio-item">
                        <span class="thumb-info thumb-info-centered-info border-radius-0">
                            <span class="thumb-info-wrapper border-radius-0">
                                <img src="../../../assets/img/homepage/home-4.jpg" class="img-fluid border-radius-0"
                                    alt="">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>