<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Contáctanos</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-8 col-lg-5 mb-5 mb-lg-0 pt-3">
                <h5 class="text-3 mb-3">Sobre nosotros</h5>
                <p>Somos una fundación deportiva sin fines de lucro, creada para fomentar y organizar
                    eventos de triatlón en
                    Venezuela.
                </p>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3 pb-1">Contáctanos</h5>
                    <p class="text-8 text-color-light font-weight-bold">(0414) 7808165</p>
                    <p class="mb-2">Coordinador: (0414) 1223600</p>
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                            <p class="m-0">Playa Lido y Cerro el Morro (Lechería) y Autopista
                                Barcelona-Píritu</p>
                        </li>
                        <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                            <p class="m-0"><a href="mailto:club.trianz@gmail.com">club.trianz@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">Siguenos</h5>
                <ul class="social-icons mt-4">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/clubtrianz/" target="_blank"
                            title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://twitter.com/ClubTRIANZ" target="_blank"
                            title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li class="social-icons-instagam"><a href="https://www.instagram.com/clubtrianz" target="_blank"
                            title="Instagram"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div
                    class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p>© Copyright 2019. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>