<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Contáctanos</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
                <h5 class="text-3 mb-3">Sobre nosotros</h5>
                <p>Somos una fundación deportiva sin fines de lucro, creada para fomentar y organizar eventos de
                    triatlón en Venezuela.
                </p>
            </div>
            <div class="col-md-7 col-lg-4 mb-4 mb-md-0">
                <div class="contact-details">
                    <h5 class="text-3 mb-3 pb-1">Contáctanos</h5>
                    <p class="text-8 text-color-light font-weight-bold">(0414) 7808165</p>
                    <p class="mb-2">Coordinadoción: (0414) 1223600</p>
                    <ul class="list">
                        <li class="mb-1">
                            <p class="m-0">Playa Lido y Cerro el Morro (Lechería) y Autopista Barcelona-Píritu</p>
                        </li>
                        <li class="mb-1">
                            <p class="m-0"><a href="mailto:club.trianz@gmail.com">club.trianz@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="text-3 mb-3">Siguenos</h5>
                <ul class="social-icons mt-4">
                    <li class="icon-facebook"><a href="https://www.facebook.com/clubtrianz/" target="_blank"
                            title="Facebook"><i class="icon-social-facebook"></i></a></li>
                    <li class="icon-twitter"><a href="https://twitter.com/ClubTRIANZ" target="_blank" title="Twitter"><i
                                class="icon-social-twitter"></i></a></li>
                    <li class="iconicon-instagam"><a href="https://www.instagram.com/clubtrianz" target="_blank"
                            title="Instagram"><i class="icon-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container py-2">
            <div class="row py-4">
                <div
                    class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
                    <p>© Copyright 2020. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>